<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Question:</h2>
    <p id="question-area" data-questionid="<%= question._id %>"><%- question.questionText %></p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" id="new-question-button">Get New Question</button>
    </div>
  </div>
</div>